div.nav
    ul
        li
            a(href="/writing") writing
        li(id="subnavParent")
            a(href="/photos") photography
                div.subnav
                    ul
                        li 
                            a(href="/photos/places") places
                        li 
                            a(href="/photos/portraits") portraits
                        li 
                            a(href="/photos/summerculture") summer culture
                        li 
                            a(href="/photos/home") home
        li
            a(href="/about") about
        li
            a(href="/contact") contact
