ul
    li
        a(href= "https://www.linkedin.com/in/madeleinefellows/" target="_blank")
            i.fab.fa-linkedin
    li
        a(href= "https://www.instagram.com/fellowsfilm/" target="_blank")
            i.fab.fa-instagram
p Copyright © 2019 Madeleine Fellows
