extends page
block page-content
    div.pagecontent
        h3= pagename
        img(src=maddy_img align='right' style={'margin':'10px'})
        p(style={'padding-top':'15px'}) I’m a writer, performer and photographer living in Portland, Oregon. I graduated from Lewis & Clark College in December 2018 with a B.A. in English.