extends page
block page-content
    div.pagecontent
        h3= pagename
        img(src=maddy_img align='right' style={'margin':'10px'})
        p(style={'padding-top':'15px'}) Madeleine (Maddy) Fellows writes, performs comedy, & takes photographs in Portland, OR. She has a B.A. in English from Lewis & Clark College ‘18.
