extends page
block page-content
    div.pagecontent
        h3= pagename
        p Maddy is the editor-in-chief of the comedy zine, #[a(href=kickedOutUrl) Kicked Out!], featuring work by performers from #[a(href=kickstandUrl) Kickstand Comedy Space]. 
        p Maddy performs in weekly & monthly shows at Kickstand Comedy. She does stand-up, improv and character shows. 
        p She was on Kickstand’s student house team “Soup’s Up!” from Summer 2019 ‘til Spring 2020. “Soup’s Up!” has continued as an indie team. 
        p Maddy laughs at her own joke. 
