extends page
block page-content
    div.pagecontent
        h3= pagename
        p If you have comments, questions, or requests, please feel free to #[a(href="mailto: maddy@madeleinefellows.com") email me]. 
        p You can find more of my work by following my social links below!