<!doctype html>
html
    head
        title= title
        include includes/siteheader.pug
    body(style={'background-image': "url(" + index_img + ")", 'background-size': 'cover'})
        div.index-site-name-nav
            h1= sitename
            include includes/index_navbar.pug
        div.sitefoot
            div.sitefoot-index
                include includes/sitefooter.pug
