head
    title= title
    include includes/siteheader.pug
body(style={backgroundImage: "#{index_img}"})
    div.site-name-nav
        h1= pagename
        include includes/index_navbar.pug
    div.sitefoot
        include includes/sitefooter.pug