<!doctype html>
html
    block site-head
        head
            title= title
            include includes/siteheader.pug
    block site-body
        body
            div.contentflexed
                div.site-name-nav
                    h1= sitename
                    include includes/navbar.pug
                block page-content
                    div.pagecontent
                        h3= pagename
            div.sitefoot
                include includes/sitefooter.pug
