extends page
block page-content
    div.pagecontent
        h3= pagename
        p My play “The Deep End” won for its region at the Kennedy Center American College Theatre Festival in 2017 and has been produced at Fir Acres Theatre.
        p I’ve been writing fiction since childhood, but I discovered my love for dramatic writing in college. Most of my work has a comedic edge. I’m published several times in the humor section of my college newspaper, “The Pioneer Log.” I do improv comedy as well, which I consider “writing on your feet.” I was on an improv team called “Scripted” at Lewis & Clark College for three years. Now I take classes and perform at Kickstand Comedy Space in Portland. I’ve also been known to do stand-up comedy when I’m feeling brave (or had a beer).
