extends page
block page-content
    div.pagecontent
        h3= pagename
        p Maddy writes personal essays, prose, and plays. She also writes sketch & stand-up #[a(href=links["comedy"]) comedy].
        p #[a(href=links["zines"]) Read her zines here.]
        p Her play “The Deep End” won for its region at the Kennedy Center College Theatre Festival in 2017. It was also a finalist for the Gary Garrison Ten-Minute Play Award at the same festival. “The Deep End” was later produced at Fir Acres Theatre in 2018.
        figure(align="center")
          img(src=photos["deepEnd"] alt="The Deep End at Fir Acres Theatre")
          figcaption(style={'font-size':'12px'}) The Deep End at Fir Acres Theatre
